.avatar {
    width: 150px;
    height: 150px;
    border-radius:100px;
    overflow: hidden;
    object-fit: cover;
    object-position: top;
}
.box{
    position: relative;
    min-width: 250px;
    background-color: #a59d9d;
    box-shadow: 2px 3px 30px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    position: relative;
    border-radius: 10px;
}