/* components/Feedback/Feedback.css */
.feedback-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
    gap: 15px
  }
  
  .counter {
    font-size: 18px;
    margin: 0 10px;
  }
  